.root {
    & :global(.mantine-Tabs-list::before) {
        content: none;
    }
    
    & :global(.mantine-Tabs-list) {
        gap: 4px;
        padding-right: 8px;
        border-right: 2px solid #969696;
    }

    & :global(.mantine-Tabs-tab) {
        border-radius: 16px !important;
        border: 2px solid #151517 !important;
        transition: all 200ms;
    }
    
    & :global(.mantine-Tabs-tab:hover) {
        border: 2px solid #8E05C1 !important;
        background-color: #211428 !important;
    }

    & :global(.mantine-Tabs-tab[data-active="true"]) {
        border: 2px solid #8E05C1 !important;
        background-color: #211428 !important;
    }
}